*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family:sans-serif;
}
body{
    
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center; 
    background-attachment: fixed;
    background-image: url(/icons/2655270872ed2b2519553ee6afc68aa12905a074.jpg);
    background-size: 100%;
    font-family: sans-serif;

}
form{
    height: 22rem;
    width: 18rem;
    display: flex;
    flex-direction: column;
    margin:0px;
    margin-top: 8%;
    margin-left: 37%;

}
h5{
    text-align: center;
}
h4{
    text-align: center;
    margin-top: 5px;
}
label{
    color: rgba(0, 0, 0, 0.63);
    font-size: small;
    margin-top: 15px;
    margin-bottom: 5px;
}
input{
    outline-color: black;
    border: none;
    border-radius: 5px;
    background-color: whitesmoke;
    padding: 9px;
    margin: 3px;
}
button{
    margin-top: 20px;
    border: none;
    background-color: black;
    color: white;
    border-radius: 7px;
    padding: 9px;
    margin: 3px;
}
.button{
    margin-top: 30px;}
nav{
    display: flex;
    justify-content: center;
}
nav ul{
   display: flex;
}
nav li{
    list-style-type: none;
}
nav a{
    color: black;
    text-decoration-line: none;
}
nav li span{
    color: white;
    text-decoration: none;
    text-decoration-line: none;
}